.login{
    text-align: center;
 position: relative;
 top: 50%;
 left: 15%;
 height: 150px;
 width: 350px;
 padding: 10px;

}

.login input[type=email]{
 width: 250px;
 height: 30px;
 background: transparent;
 border: 1px solid 	#A9A9A9;
 border-radius: 2px;
 color: #000000;
 font-family: 'Exo', sans-serif;
 font-size: 16px;
 font-weight: 400;
 padding: 4px;
}

.login input[type=password]{
 width: 250px;
 height: 30px;
 background: transparent;
 border: 1px solid 	#A9A9A9;
 border-radius: 2px;
 color: #000000;
 font-family: 'Exo', sans-serif;
 font-size: 16px;
 font-weight: 400;
 padding: 4px;
 margin-top: 10px;
}

.login input[type=button]{
 width: 260px;
 height: 35px;
 background: 	#A9A9A9;
 border: 1px solid 	#A9A9A9;
 cursor: pointer;
 border-radius: 2px;
 color: #000000;
 font-family: 'Exo', sans-serif;
 font-size: 16px;
 font-weight: 400;
 padding: 6px;
 margin-top: 10px;
}

.login input[type=button]:hover{
 opacity: 0.8;
}

.login input[type=button]:active{
 opacity: 0.6;
}

.login input[type=email]:focus{
 outline: none;
 border: 1px solid #A9A9A9;
}

.login input[type=password]:focus{
 outline: none;
 border: 1px solid #A9A9A9;
}

.login input[type=button]:focus{
 outline: none;
}

::-webkit-input-placeholder{
   color: #A9A9A9;
}

::-moz-input-placeholder{
   color: #A9A9A9;
}
